In [3]:
import pandas as pd
import numpy as np

from pandas import Series, DataFrame

In [4]:
s1 = Series(np.arange(10))

s1.head(5)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [7]:
s1.map(lambda x: x**2).head(5)

0     0
1     1
2     4
3     9
4    16
dtype: int64

In [8]:
z = {1:'A', 2: 'B', 3: 'C'}

s1.map(z).head(5)

0    NaN
1      A
2      B
3      C
4    NaN
dtype: object

In [9]:
s2 = Series(np.arange(10,20))
s1.map(s2).head(5)

0    10
1    11
2    12
3    13
4    14
dtype: int64