In [13]:
import pandas as pd

from pandas import Series, DataFrame

In [2]:
data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data'
df_data = pd.read_csv(data_url, sep='Ws+', header=None)

C:\Users\user\AppData\Local\Temp\ipykernel_13840\1238356005.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_data = pd.read_csv(data_url, sep='Ws+', header=None)

In [5]:
df_data.head()

                                                   0
0  0.00632  18.00   2.310  0  0.5380  6.5750  65....
1  0.02731   0.00   7.070  0  0.4690  6.4210  78....
2  0.02729   0.00   7.070  0  0.4690  7.1850  61....
3  0.03237   0.00   2.180  0  0.4580  6.9980  45....
4  0.06905   0.00   2.180  0  0.4580  7.1470  54....

In [16]:
list_data = [1,2,3,4,5]
list_name = ['a', 'b', 'c','d','e']

example_obj = Series(data=list_data, index=list_name)

example_obj

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [18]:
dict_data = {"a" : 1, "b" : 2, "c" : 3, "d" : 4, "e" : 5}

indexes = ["a", "b" , "c","d","e","f","g","h"]

seris_obj_1 = Series(dict_data, index=indexes)

seris_obj_1

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    NaN
g    NaN
h    NaN
dtype: float64