In [ ]:
import pandas as pd

from pandas import Series, DataFrame

In [2]:
ipl_data = {
    "Team" : ["ulsan",
              "ulsan",
              "busan",
              "busan",
              "busan",
              "seoul",
              "seoul",
              "seoul",
              "seoul"],
    "Rank" : [1,2,2,3,3,4,1,1,2],
    "Year" : [2014,2015,2014,2015,2014,2015,2016,2017,2019],
    "Points" :[876,789,863,673,812,741,756,899,400]
}

In [4]:
df = pd.DataFrame(ipl_data)
df.groupby("Team")["Points"].std()

Team
busan     98.337853
seoul    211.671129
ulsan     61.518290
Name: Points, dtype: float64

In [5]:
df.groupby(["Team", "Year"])["Points"].sum()

Team   Year
busan  2014    1675
       2015     673
seoul  2015     741
       2016     756
       2017     899
       2019     400
ulsan  2014     876
       2015     789
Name: Points, dtype: int64